.btn
  border-radius: 0px
  text-transform: uppercase
  height: 40px
  padding-top: 9px

.btn-green
  background: $green
  color: $white
  font-style: normal

.btn-green-transparent
  border: 2px solid $turquoise
  height: 40px
  padding-top: 8px
  color: $dark-gray
  text-transform: uppercase
  padding-right: 15px
  font-family: $roboto

  &:hover
    color: $turquoise

.btn-red
  background: $pink
  color: $white
  text-transform: uppercase
  font-weight: 300
  font-size: 1.4rem

button.close
  display: none