ul
  padding: 0

  li
    list-style: none
    display: inline
    margin-right: 47px
    padding-bottom: 15px
    font-size: 1.8rem
    font-family: $roboto-slab

    a
      &:hover
        text-decoration: none