- content_for :seo_title, page.seo_title if page.seo_title
- content_for :seo_keywords, page.seo_keywords if page.seo_keywords
- content_for :seo_description, page.seo_description if page.seo_description