.subscribe.form
  = form_tag subscriptions_create_path, method: :post do
    = text_field_tag :email, nil, placeholder: 'Ваш e-mail', type: 'email'
    = submit_tag 'Быть в курсе', class: 'btn btn-green'