%p Вас приветствует Owly Shop!
%p Вы успешно оформили заказ на нашем сайте www.owly.ru. 
%p= "Номер вашего заказа: #{@order_id}."
%p В течении дня с вами свяжется наш менеджер для подтверждения заказа и уточнения всех деталей.
%p Также вы можете связаться с нами по телефону: +7 (812) 498 - 1000.
%p Благодарим, что выбираете Оули!

- if @invoice_url
  %p
    Счет на оплату можно скачать по этой ссылке: 
    = link_to 'Скачать', @invoice_url