.post
  .date
    %p= post.created_at

  .title
    = link_to post.title, post_path(post)

  .desc
    %p= raw post.text
    
  - if post.tags.present?
    .tags
      - post.tags.delete(' ').split(',').each do |tag|
        = link_to tag, pages_blog_path(tag: tag)