$category-sort-link-color: $turquoise
$category-sort-size: 1.2rem

.category
  .sort-options
    margin-top: 60px
    margin-bottom: 60px

    a, span
      font-size: $category-sort-size

    span
      margin-right: 40px

    a
      margin-right: 80px
      color: $category-sort-link-color

