$home-description-text-weight: 300

$home-category-title-font-family: $roboto-slab
$home-category-title-font-size: 1.8rem
$home-category-title-font-color: $turquoise

$home-add-to-cart-font-size: 1.4rem
$home-add-to-cart-font-color: $red
$home-add-to-cart-font-weight: 300

$home-blog-background: #f6f3ee
$home-blog-created-at-size: 1.4rem
$home-blog-title-size: 1.8rem
$home-blog-title-color: $red

$home-whats-new-title-size: 2.4rem
$home-whats-new-title-color: $red
$home-whats-new-title-font-family: $roboto-slab

$blog-heading-color: $red

.home
  .kid
    background: url('home/kid.jpg')
    height: 614px
    background-repeat: no-repeat

  .about.row
    background: url('home/about-bg.jpg')!important
    padding-top: 28px
    padding-bottom: 28px
    height: 100%
    background: $cream

    .slogan
      margin-bottom: 37px

    .text
      max-width: 566px
      font-weight: $home-description-text-weight
      margin-bottom: 39px

    .about-btn
      a
        padding-right: 15px

      img
        margin-left: 20px

  .our-products
    margin-bottom: 136px

    .categories
      margin-top: 48px

    .category
      max-width: 270px
      display: inline-block

      .title
        background: #f8f5f0
        height: 40px
        padding-top: 7px
        font-family: $home-category-title-font-family
        font-size: $home-category-title-font-size
        color: $home-category-title-font-color

  .owly-blog
    .whats-new
      margin-top: 60px

      .desc p
        margin-bottom: 37px

      .img
        img
          display: block
          margin: 0 auto

      .title
        font-size: $home-whats-new-title-size
        color: $home-whats-new-title-color
        font-family: $home-whats-new-title-font-family
        margin-bottom: 21px

.blog
  .header
    padding-bottom: 13px

    h1
      color: $blog-heading-color

    p
      max-width: 660px

    .text
      margin-bottom: 18px

    .subscribe
      margin-top: 18px

      #email
        max-width: 270px

  .posts
    padding-top: 70px

    .post
      margin-bottom: 40px

    .date p
      font-size: $home-blog-created-at-size

    .desc p
      max-width: 560px

    .title
      margin-top: 8px
      margin-bottom: 14px

      a
        font-size: $home-blog-title-size
        color: $home-blog-title-color