$home-description-text-weight: 300

$home-heading-color: $red
$home-heading-font-size: 2.4rem
$home-heading-font-weight: 400

$home-category-title-font-family: $roboto-slab
$home-category-title-font-size: 1.8rem
$home-category-title-font-color: #277770

$home-choices-slider-background: $light-blue
$home-choices-slider-product-background: $white
$home-choices-slider-product-color: #277770

$home-add-to-cart-font-size: 1.4rem
$home-add-to-cart-font-color: $red
$home-add-to-cart-font-weight: 300

$home-blog-background: #f6f3ee
$home-blog-created-at-size: 1.4rem
$home-blog-title-size: 1.8rem
$home-blog-title-color: $red

$home-whats-new-title-size: 2.4rem
$home-whats-new-title-color: $red
$home-whats-new-title-font-family: $roboto-slab

.home
  h1
    color: $red
    font-size: $home-heading-font-size
    font-weight: $home-heading-font-weight

  .kid
    background: url('home/kid.jpg')
    height: 614px
    background-repeat: no-repeat

  .about.row
    background: url('home/about-bg.jpg')!important
    padding-top: 28px
    padding-bottom: 28px
    height: 100%
    background: $cream

    .slogan
      margin-bottom: 37px

    .text
      max-width: 566px
      font-weight: $home-description-text-weight
      margin-bottom: 39px

    .about-btn
      a
        padding-right: 15px

      img
        margin-left: 20px

  .our-products
    margin-bottom: 136px

    .categories
      margin-top: 48px

    .category
      max-width: 270px
      display: inline-block

      .title
        background: #f8f5f0
        height: 40px
        padding-top: 7px
        font-family: $home-category-title-font-family
        font-size: $home-category-title-font-size
        color: $home-category-title-font-color

  .choices-from-our-customers
    .products
      background: $home-choices-slider-background
      background-repeat: no-repeat
      background: url('home/choices-bg.jpg')
      padding: 68px

      .product
        display: inline-block
        background: $home-choices-slider-product-background
        margin-bottom: 20px

        .top
          padding-top: 10px

          .name a
            color: $home-choices-slider-product-color

          .rating
            margin: 0 auto

          .price

            span
              font-size: 1.4rem
              font-weight: normal

        .bottom
          border-top: 1px solid $light-blue
          max-height: 40px

          .favorite, .add-to-cart
            display: inline-block
            height: 40px

          .favorite
            border-right: 1px solid $light-blue
            width: 80px

            img
              margin-left: 30px
              margin-top: 9px

          .add-to-cart
            font-size: $home-add-to-cart-font-size
            font-weight: $home-add-to-cart-font-weight
            position: absolute
            margin-top: 9px

            a
              color: $home-add-to-cart-font-color
              margin-left: 25px

  .owly-blog
    background: $home-blog-background
    .blog
      .posts
        .post
          margin-bottom: 40px

        .date
          font-size: $home-blog-created-at-size

        .desc p
          max-width: 560px

        .title
          margin-top: 18px
          margin-bottom: 18px

          a
            font-size: $home-blog-title-size
            color: $home-blog-title-color


    .whats-new
      margin-top: 60px

      .img
        img
          display: block
          margin: 0 auto

      .title
        font-size: $home-whats-new-title-size
        color: $home-whats-new-title-color
        font-family: $home-whats-new-title-font-family
        margin-bottom: 21px

      .subscribe
        margin-top: 37px

        .btn
          width: 130px

        input
          width: 71%
