$home-description-text-weight: 300

$home-add-to-cart-font-size: 1.4rem
$home-add-to-cart-font-color: $red
$home-add-to-cart-font-weight: 300

$home-blog-background: #f6f3ee

$home-whats-new-title-size: 2.4rem
$home-whats-new-title-color: $red
$home-whats-new-title-font-family: $roboto-slab

$blog-heading-color: $red

$about-how-we-work-h2-size: 1.8rem
$about-how-we-work-h2-color: $red
$about-how-we-work-h2-family: $roboto-slab
$about-more-information-size: 1.8rem
$about-advantages-title-size: 1.4rem
$about-advantages-title-color: $turquoise
$about-advantages-title-weight: 300
$about-whats-new-title-font-family: $roboto-slab
$about-whats-new-title-font-size: 2.4rem
$about-whats-new-title-font-color: $red
$about-whats-new-subscribe-p-weight: 300
$about-whats-new-subscribe-p-size: 1.8rem

.home
  .kid
    background: url('home/kid.jpg')
    height: 614px
    background-repeat: no-repeat

  .about.row
    background: url('home/about-bg.jpg')!important
    padding-top: 28px
    padding-bottom: 28px
    height: 100%
    background: $cream

    .slogan
      margin-bottom: 37px

    .text
      max-width: 566px
      font-weight: $home-description-text-weight
      margin-bottom: 39px

  .our-products
    margin-bottom: 136px

  .owly-blog
    .whats-new
      margin-top: 60px

      .desc p
        margin-bottom: 37px

      .img
        img
          display: block
          margin: 0 auto

      .title
        font-size: $home-whats-new-title-size
        color: $home-whats-new-title-color
        font-family: $home-whats-new-title-font-family
        margin-bottom: 21px

.blog
  .header
    padding-bottom: 13px

    h1
      color: $blog-heading-color

    .text
      margin-bottom: 18px

    .subscribe
      margin-top: 18px

      #email
        max-width: 270px

.our-products.page
  .products-list
    margin-top: 145px

.about
  .about-us
    padding-top: 100px
    padding-bottom: 137px

    .how-we-work
      .title
        font-size: $about-how-we-work-h2-size
        color: $about-how-we-work-h2-color
        font-family: $about-how-we-work-h2-family
        margin-bottom: 28px

      .more-information
        margin-top: 54px
        margin-bottom: 40px
        font-size: $about-more-information-size

  .why-we-are-loved
    padding-bottom: 50px

    .title
      color: $red
      font-size: 1.8rem

    .advantages
      margin-top: 80px

      .img
        min-height: 75px 

        img
          display: block
          margin: 0 auto

      .advantage-title
        margin-top: 50px
        margin-bottom: 40px
        font-size: $about-advantages-title-size
        color: $about-advantages-title-color
        font-weight: $about-advantages-title-weight

      .made-in
        margin-top: -29px

  .whats-new
    padding-bottom: 50px

    .title
      color: $about-whats-new-title-font-color
      font-size: $about-whats-new-title-font-size
      text-transform: none

    .desc
      font-weight: $about-whats-new-subscribe-p-weight
      font-size: $about-whats-new-subscribe-p-size
      margin-top: 21px
      margin-bottom: 37px