$post-created-at-size: 1.4rem
$post-title-size: 1.8rem
$post-title-color: $red
$post-link-title-color: $turquoise
$post-link-title-size: 1.4rem
$post-tag-color: $turquoise
$post-tag-weight: 300
$post-tag-size: 1.4rem

.posts
  .tags-list
    h2, .tag-name a
      color: $turquoise
      margin-bottom: 10px

  .post
    margin-bottom: 40px

  .date p
    font-size: $post-created-at-size

  .desc p
    max-width: 560px

  .title
    margin-top: 8px
    margin-bottom: 14px

    a
      font-size: $post-title-size
      color: $post-title-color

  .turn-back
    margin-top: 30px
    font-weight: 400
    font-family: $roboto

    a
      color: $turquoise

.blog-posts
  .header
    min-height: 298px


  .tags
    margin-bottom: 140px

  .actions
    margin-bottom: 125px

    .right
      float: right

.tags, .next-post, .prev-post
  a
    color: $post-tag-color
    font-size: $post-tag-size
    font-weight: $post-tag-weight

  .next-post
    font-size: 1.6rem