$home-choices-slider-background: $light-blue
$home-choices-slider-product-background: $white
$home-choices-slider-product-color: $turquoise

$product-item-name-size: 1.6rem
$product-item-params-span-size: 300
$product-item-price-color: $turquoise
$product-item-price-weight: 400
$product-item-price-span-color: $dark-gray
$product-item-price-span-weight: 500
$product-item-price-span-size: 2.4rem
$product-item-price-second-span-size: 1.8rem
$product-item-price-second-span-weight: 300
$product-item-reviews-background: $light-cream
$product-item-review-date-size: 1.4rem
$product-item-review-date-weight: 300
$product-item-review-date-family: $roboto-slab
$product-item-review-author-size: 1.4rem
$product-item-add-review-title-size: 2.4rem
$product-item-add-review-p-size: 1.8rem
$product-item-add-review-title-family: $roboto-slab
$product-item-add-review-title-color: $red

$product-add-to-cart-font-size: 1.4rem
$product-add-to-cart-font-color: $red
$product-add-to-cart-font-weight: 300
$product-add-to-cart-button-hover-color: $pink

.products
  .product
    display: inline-block
    background: $home-choices-slider-product-background
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1)
    margin-bottom: 60px

    .top
      height: 335px
      padding: 10px

      .name a
        color: $home-choices-slider-product-color

      .rating
        margin: 0 auto

      .price

        span
          font-size: 1.4rem
          font-weight: normal

    .bottom
      border-top: 1px solid $light-blue
      max-height: 40px

      .favorite
        border-right: 1px solid $light-blue
        width: 80px
        float: left

        img
          margin-left: 30px
          margin-top: 9px

      .add-to-cart
        font-size: $product-add-to-cart-font-size
        font-weight: $product-add-to-cart-font-weight
        padding-top: 10px
        padding-bottom: 12px
        max-width: 228px
        margin-left: 80px
        height: 40px

        &:hover
          background-color: #ff7070
          cursor: pointer
          color: $white
          color: $product-add-to-cart-button-hover-color

          a
            color: $white
            text-decoration: none
        
        a
          color: $product-add-to-cart-font-color
          margin-left: 8px

.product-item
  .name
    font-size: $product-item-name-size

  .product-card
    padding-bottom: 105px

    .rating
      margin-top: -50px

    .right
      .stats
        .key, .value
          display: inline-block

        .key
          min-width: 80px

        .value
          font-weight: 300

      .params, .material
        margin-top: 36px

        span
          font-weight: $product-item-params-span-size

      .img
        float: left
        min-height: 92px
        min-width: 75px

      .price
        margin-top: 46px

        p
          font-weight: $product-item-price-weight
          color: $product-item-price-color

          span
            margin-left: 33px
            color: $product-item-price-span-color
            font-weight: $product-item-price-span-weight
            font-size: $product-item-price-span-size

            .rub
              margin: 0
              font-size: $product-item-price-second-span-size
              font-weight: $product-item-price-second-span-weight

    .actions
      .add-to-cart, .favorite
        display: inline-block
        margin-right: 29px

      .add-to-cart
        margin-top: 35px

  .reviews
    padding-bottom: 77px
    background: $product-item-reviews-background

    .review
      margin-bottom: 30px

      .date
        margin-bottom: 25px
        font-size: $product-item-review-date-size
        font-weight: $product-item-review-date-weight
        font-family: $product-item-review-date-family

      .author
        font-size: $product-item-review-author-size
        font-style: italic
        text-align: right
        margin-top: 27px

    .add-review 
      p
        font-size: 1.8rem

    .add-review, .review-form
      margin-top: 127px

      .img img
        display: block
        margin: 0 auto

      .title
        margin-bottom: 27px
        font-size: $product-item-add-review-title-size
        font-family: $product-item-add-review-title-family
        color: $product-item-add-review-title-color

      .btn
        display: block
        max-width: 170px
        margin: 0 auto
        margin-top: 37px

      .form
        .btn
          margin: 0 auto
          max-width: 100%

      .rate-product
        float: left
        margin-right: 25px
        margin-top: 3px