$header-font-size-search-form: 1.4rem
$header-font-size-telephone: 2.4rem
$header-callback-font-size: 1.2rem

$header-font-family-telephone: $roboto-slab

$header-font-color-callback: $red
$header-navbar-background-color: $cream
$header-navbar-font-color: $dark-gray

$category-title-font-family: $roboto-slab
$category-title-font-size: 1.8rem
$category-title-font-color: $turquoise

$page-header-h1-family: $roboto-slab
$page-header-h1-size: 1.8rem
$page-header-h1-color: $turquoise
$page-header-p-weight: 400

$footer-background: #475a58
$footer-contacts-font-family: $roboto-slab
$footer-contacts-font-color: #f8f5f0

.form
  font-size: $header-font-size-search-form

.header
  background-size: cover!important

  .search
    margin-top: 86px

    input#query
      width: 70%
      float: left

    .btn
      max-width: 28%

  .logo
    margin-top: 14px

  .contacts
    .social
      padding-left: 64px

      .icon
        display: inline-block
        margin-right: 13px

    .telephone
      margin-top: 24px
      padding-left: 13px

      img
        float: left
        margin-right: 8px
        margin-top: 8px

      span
        font-size: $header-font-size-telephone
        font-family: $header-font-family-telephone

    .schedule p
      font-size: 14px
      margin-top: 14px
      margin-left: 50px
      font-weight: 300

    .call-back
      margin-top: 13px
      font-size: $header-callback-font-size
      padding-left: 60px

      a
        text-decoration: underline
        color: $header-font-color-callback

  .menu
    background: $header-navbar-background-color
    max-height: 80px

    .navbar
      ul li
        font-weight: 300


        a
          color: $header-navbar-font-color

          &:hover
            border-bottom: 3px solid $turquoise

      .actions
        a:hover
          border-bottom: none!important


.footer
  padding-bottom: 18px
  padding-top: 18px
  background: $footer-background

  .contacts
    padding-top: 32px

    p
      font-family: $footer-contacts-font-family
      color: $footer-contacts-font-color

    .phone
      margin-bottom: 25px

    .img
      display: block
      float: left
      margin-right: 17px

    .address
      text-align: left
      margin-left: 35px

  .social
    .icon
      display: inline-block
      margin-right: 8px
      margin-top: 55px

.alert
  margin: 0

.pattern
  background-repeat: no-repeat
  background: asset-url('home/choices-bg.jpg')
  padding: 68px
  max-height: 505px

.cream-bg, .white-bg, .dark-cream-bg
  padding-top: 50px
  padding-bottom: 50px


.cream-bg
  background: #fbfaf7

.dark-cream-bg
  background: #f4f1ec

.no-bottom-padding
  padding-bottom: 0px!important

.no-top-padding
  padding-top: 0px!important

.owly-img 
  display: block
  margin: 0 auto
  margin-top: 5px

.page
  .header
    padding-top: 45px
    padding-bottom: 45px
    max-height: 100%

    h1
      margin-bottom: 25px
      margin-top: 0px
      font-family: $page-header-h1-family
      font-size: $page-header-h1-size
      color: $red

    p
      font-weight: $page-header-p-weight

.subscribe
  .btn
    width: 130px

  input
    width: 71%
    padding-left: 10px
    float: left

.owl-carousel
  .carousel-item
    width: 100%

  .owl-pagination
    display: none

  .owl-prev, .owl-next
    margin-top: -280px!important
    color: transparent!important
    height: 43px
    padding: 0px 0px!important

  .owl-prev
    float: left
    margin-left: -50px!important
    background: asset-url('products/carousel-left.png') no-repeat !important

  .owl-next
    float: right
    margin-left: -50px!important
    background: asset-url('products/carousel-right.png') no-repeat !important

  .product.item
    display: block

    .lazyOwl
      display: block
      margin: 0 auto

.categories
  margin-top: 48px

.category
  .title
    background: #f8f5f0
    height: 40px
    max-width: 280px
    padding-top: 7px
    font-family: $category-title-font-family
    font-size: $category-title-font-size
    color: $category-title-font-color

.btn-transparent-img
  margin-left: 20px

.can-be-empty
  min-height: calc(100vh - 380px)


@media only screen and (max-width:1200px)
  .add-to-cart
    padding-top: 0px!important

  .contacts
    width: 100%
    margin: 0 auto
    display: block
    padding-left: 36%


@media only screen and (max-width:768px)
  .contacts
    padding-left: 0%
    margin-bottom: 25px
